
/******************************************
/* LAYOUT
/*******************************************/


body *{
    font-family: sans-serif;
    text-align: center;
  }
  
header{
    color: white;
    background-color:black;
    height:auto;
}

.broccolito{
  font-family: fantasy;
  color: green;
}

.mail{
    filter: sepia(100%);
  }
  img:hover,
  img:focus {
    filter: none;
  }
        
.strong{
  color: red;
  background: white;
}


a{
text-decoration: none;
color: white;

}

h2{
    padding-top: 5%;
}
.p0,.p1, .p2{ 
color: rgba(241, 207, 207, 0.885);
}

.p2{
width: 40%;
padding-left: 30%;
color: rgba(241, 207, 207, 0.885);
}

ul{
 list-style: none;
}

 .countries{
    display: flex;
    flex-direction: column;
}

      .boxes{
        margin-top:2px;
        background-color: rgb(11, 102, 28);
        border: 2px solid firebrick;
        border-radius: 10px;
        font-weight: bold;
        color: black;
        cursor: pointer;
      }

      .countries{
        display: flex;
        align-items: center;
      }
      
      @media (any-hover: hover) {
        .boxes:hover {
          background: rgb(19, 52, 1);
        }
      }

      .p2{
        color: rgba(241, 207, 207, 0.885);;
      }

      .order{
        background-color: rgb(183, 244, 194);
        border: 2px solid rgb(232, 174, 15);
        border-radius: 5px;
        color: black;
        cursor: pointer;
        margin-left: 2%;
      }
      
      @media (any-hover: hover) {
        .order:hover {
          background: rgb(19, 52, 1);
        }
      }


      @media(min-width:180px){
        h1,h2,h3{
          font-size: 10px;
          width: 100%;
        }
        .broccolito{
          font-size: large;
        }

        .p0,.p1, .p2{
          font-size: 8px;
          width: 70%;
          padding-left: 15%;
        }

        .boxes{
           margin-right: 30%;
           width: 9em;
           height: 3ex;
           
        }
      }

      @media(min-width:330px){
        h1,h2,h3{
          font-size: 12px;
          width: 100%;
        }
        .broccolito{
          font-size:x-large;
        }

        .p0,.p1, .p2{
          font-size: 10px;
          width: 70%;
          padding-left: 15%;
        }

        .boxes{
           margin-right: 10%;
           width: 15em;
           height: 4ex;
           padding-top: 10px;
      }
    }

    @media(min-width:436px){
      .boxes{
           margin-right: 5%;
           width: 15em;
           height: 4ex;
           padding-top: 10px;
      }
    }
      
      
